body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('forest.jpg'); 
  background-size: contain;
}

h1 {
  font-size: 5em; 
  margin-bottom: 20px; 
  font-family: 'Agbalumo';
  color: #FCF5E5;
}

input[type="text"] {
  font-size: 1em; 
  padding: 8px; 
  margin-left: 35px;
}

button {
  font-size: 1em;
  padding: 8px 15px; 
  background-color: #5072A7;
  color: white;
  border: none;
  outline: none;
  border-radius: 25% 25% 25% 25%;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px; /* Increase the padding for each task item */
  border-bottom: 1px solid #ddd;
  background-color: #ACE1AF;
  border: none;
  outline: none;
  font-family: 'Indie Flower';
  font-size: 25px;

}

.task-done {
  text-decoration: line-through;
  color: #888;
}






